a {
  text-decoration: none;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: black solid;
  background-color: #6b1d09;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  font-size: 1.7rem;
  margin-bottom: auto;
  margin-top: auto;
}
nav ul li a {
  font-family: Arial, sans-serif;
  color: black;
}
nav ul li:nth-child(2) {
  font-weight: bold;
}
nav ul li:nth-child(7) {
  border-bottom: black solid;
}
nav ul li:last-child img {
  width: 4rem;
}
nav ul li:first-child img {
  width: 5rem;
}
nav ul img {
  width: 4rem;
}

.hover-underline-animation {
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#profile {
  margin: 3rem 3rem 1rem 3rem;
  background-color: darkgrey;
  border-radius: 2rem;
  padding: 1rem;
}
#profile #profiletop {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
#profile #profiletop .icon3 {
  font-size: 7rem;
}
#profile .flexcontainer {
  display: flex;
  flex-direction: column;
}
#profile .flexcontainer li {
  background-color: #6b1d09;
  border-radius: 2rem 2rem 2rem 2rem;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  display: flex;
  padding: 2.25rem 0;
}
#profile .flexcontainer li .headerArticle {
  display: inline-block;
}
#profile .flexcontainer li .icon {
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 2rem;
}
#profile .flexcontainer li .icon2 {
  position: absolute;
  right: 1rem;
  margin-left: 10rem;
  padding-right: 2rem;
  font-size: 2rem;
}
#profile .flexcontainer li h2 {
  color: #99857A;
  font-size: 2rem;
}
#profile #premium .flexarticles {
  display: flex;
}
#profile #premium .flexarticles article {
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: gray;
  border-radius: 1rem;
  padding: 0.5rem;
}
#profile #premium .flexarticles article header {
  font-size: 1.8rem;
  background-color: darkgray;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
#profile #premium .flexarticles article li {
  background-color: gray;
  font-size: 1.4rem;
}
#profile #premium .flexarticles article li p {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
}
#profile #premium .flexarticles article button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 0.5rem;
  color: #333333;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-left: 6rem;
  padding: 0.4rem 0.4rem;
  text-align: center;
}
#profile #company .flexarticles {
  margin-left: 1.8rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
#profile #company article {
  margin-top: 4rem;
  margin-left: -10rem;
}
#profile #company article p {
  color: darkgray;
}
#profile #company article h3 {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: gray;
}
#profile #appointment .flexarticles {
  display: flex;
  flex-direction: row;
}
#profile #appointment article {
  font-size: 1.4rem;
  margin-top: 4rem;
  margin-right: 30rem;
}
#profile #appointment article p {
  margin-bottom: 0.5rem;
  color: darkgray;
}
#profile #appointment article h3 {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: gray;
}
#profile #appointment article button {
  margin-top: 1rem;
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 0.5rem;
  color: #333333;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 0.4rem 0.4rem;
  text-align: center;
}

/*# sourceMappingURL=profile.css.map */
