@use "loadingAnimation";
@use "colors";
@use "constants";
@use "map";
@use "searchbar";
@use "sideNav";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s constants.$transition-time, opacity constants.$transition-time linear;
}

.hidden {
    display: none;
}


