@use "loadingAnimation";
@use "colors";
@use "constants";
@use "map";
body{

    background: rgb(251,63,63);
    background: linear-gradient(41deg, rgba(251,63,63,1) 0%, rgba(252,146,70,1) 100%);
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
}

h1{
    color: colors.$primary-text-color;
    text-align: center;
    font-size: 3rem;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s constants.$transition-time, opacity constants.$transition-time linear;
}

.hidden {
    display: none;
}
