@import "general";
@import "constants";
@import "nav";
@import "animations";

body {
  background: $background-color;
#adds {
  margin: 2rem 3rem 0 3rem;
  text-align: center;
  background-color: $secondary-color;
  border-radius: $border-radius;
  padding-bottom: 2rem;

  header h3 {
    color: $header-font-color;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: $border-radius $border-radius 0 0;
    background-color: $header-background-color;
  }

  p {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  form {
    background-color: $primary-color;
    margin: 0 2rem;
    border-radius: $border-radius;
    padding: 2rem;

    fieldset {
    width: 40%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    display: flex;
    flex-direction: column;
    color: $primary-font-color;

    h4 {
      text-align: left;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 0.2rem;
      border-radius: $border-radius;
      background-color: darkgray;
      color: black;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    button {
      color: $primary-font-color;
      padding: 0.5rem;
      background-color: $header-background-color;
      border-radius: $border-radius;
    }
  }
  }
}
}
