// COLORS
$primary-color: #f0e7e7;
$secondary-color: #c1440e;
$tertiary-color: #e77d11;
$background-color: #fda600;

$nav-color: #e77d11;

$primary-text-color: #451804;

// FONTS


// OTHER

$transition-time: 1.5s;