// NAV
$nav-background-color: #6b1d09;
$nav-font-color: black;
$nav-border-color: black;
$nav-font-family: Arial, sans-serif;

//HEADER
$header-background-color: #3e0000;
$header-font-color: #d0c8a8;
$header-font-family: Arial, sans-serif;


//GLOBAL
$background-color: #d0c8a8;

$primary-color: #6b1d09;
$secondary-color: #9a542e;
$tertiary-color: #e77d11;

$primary-font-color: #99857A;
$secondary-font-color: black;
$tertiary-font-color: white;

$primary-font-family: Arial, sans-serif;

// OTHER
$border-radius: 2rem;
$transition-time: 1.5s;