// NAV
$nav-background-color: #003844;
$nav-font-color: hsl(142deg, 10%, 75%);
$nav-border-color: hsl(142deg, 10%, 75%);
$nav-font-family: Arial, sans-serif;

//HEADER
$header-background-color: #210124;
$header-font-color: hsl(142deg, 10%, 75%);
$header-font-family: Arial, sans-serif;


//GLOBAL
$background-color: url("../../images/background.jpg");

$primary-color: #003844;
$secondary-color: #848FA5 ;
$tertiary-color: #210124;

$primary-font-color: hsl(142deg, 10%, 75%);
$secondary-font-color: #848FA5;
$tertiary-font-color: black;

$primary-font-family: Arial, sans-serif;

// OTHER
$border-radius: 2rem;
$transition-time: 1.5s;
$box-shadow: inset 0.5rem 0.5rem 1rem black;