.hidden {
  display: none;
}

body {
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
}