@import "constants";

body {

  #side_navigation {
    width: 17rem;
    height: 100vh;
    background-color: $secondary-color;
    border-radius: 0 2rem 2rem 0;

    .flexcontainer {
      height: 100%;
      display: flex;
      flex-direction: column;

      li {
        padding-left: 2rem;
        display: flex;
        flex-basis: Calc(100% / 6);

        .icon {
          padding-right: 2rem;
          font-size: 2.5rem;
        }

        h2 {
          color: $primary-text-color;
          font-size: 1.7rem;
        }

        .icon, h2 {
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      li:nth-child(even) {
        background-color: $tertiary-color;
      }

      li:nth-child(1) {
        position: relative;

        div {
          flex-direction: row;
        }

        .close {
          position: absolute;
          top: 1rem;
          right: 0.3rem;
        }
      }
    }
  }
}