@import "constants";

body {

  #side_navigation {
    color: $primary-font-color;
    font-size: 1.5rem;

    .flexcontainer {
      display: flex;
      flex-direction: column;
    }

    ul {
      height: 100vh;
      li {
        height: 15vh;
        padding-bottom: 2%;
        padding-top: 2%;
        padding-left: 2rem;
        width: 15%;
        display: flex;
      }

      img {
        padding-right: 1rem;
        width: 2.5rem;
      }

      li:nth-child(odd) {
        background-color: $primary-color;
      }

      li:nth-child(even) {
        background-color: $secondary-color;
      }

      li:nth-child(1) {
        position: relative;
        border-radius: 0 2rem 0 0;
        display: block;

        div {
          display: flex;
        }

        #close_icon {
          position: absolute;
          width: 1.5rem;
          top: 1rem;

          right: 0.3rem;
        }
      }

      li:last-child {
        border-radius: 0 0 2rem 0;
      }

      h2 {
        padding-top: 0.5rem;
      }
    }
  }
}