@import "constants";

a {
  text-decoration: none;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: $nav-border-color solid;
  background-color: $nav-background-color;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      font-size: 1.7rem;
      margin-bottom: auto;
      margin-top: auto;

      a {
        font-family: $nav-font-family;
        color: $nav-font-color;
      }
    }

    li:nth-child(2) {
      font-weight: bold;
    }

    li:nth-child(7) {
      border-bottom: $nav-border-color solid;
    }

    li:last-child img {
      width: 4rem;
    }

    li:first-child img {
      width: 5rem;
    }

    img {
      width: 4rem;
    }
  }
}