@import "general";
@import "constants";
@import "nav";
@import "animations";
#profile {
    margin: 3rem 3rem 0 3rem;
    background-color: darkgrey;
    border-radius: $border-radius;
    padding: 1rem;
    #profiletop {
        margin-bottom: 2rem;
        font-size: 3rem;
        text-align: center;
        .icon {
            font-size: 7rem;
        }
    }
    .flexcontainer {
        display: flex;
        flex-direction: column;
        li {
          background-color: $primary-color;
          border-radius: $border-radius;
          padding: 2rem;
          margin-bottom: 1rem;
          display: flex;
            .icon {
                padding-right: 2rem;
                font-size: 2rem;
            }
            h3 {
                color: $primary-font-color;
                font-size: 2rem;
            }
        }
    }
}