@import "constants";

#searchbar{
  transform: scale(1.2);
  margin-top: 1.4rem;
  margin-left: 2rem;
  z-index: 2;
  width: 16rem;
  position: absolute;
  display: flex;
  color: $primary-color;
}

/*achtergrond wordt nog wit*/

.searchTerm{
  font-size: 1.2rem; 
  width: 100%;
  border: 0.5rem solid #FFFFFF;
  border-right: none;
  border-left: none;
  padding: 0.313rem;
  height: 1.25rem;
  border-radius: 0 0 0 0;
}

/*achtergrond van image moet verandert worden*/

.searchButton {
    background-image: url(../media/search.png);
    background-repeat: no-repeat;
    background-size: 1.9rem 1.9rem;
    background-position: center;
    width: 2.5rem;
    height: 2.875rem;
    border: 0px solid #FFFFFF;
    border-radius: 0 0.625rem 0.625rem 0;
    cursor: pointer;
  }

  .burger{
    justify-content: left;
    background-image: url(../media/burger.png);
    background-repeat: no-repeat;
    background-size: 1.9rem 1.9rem;
    background-position: center;
    width: 2.5rem;
    height: 2.875rem;
    border: 0px solid #FFFFFF;
    border-radius: 0.626rem 0px 0px 0.625rem;
    cursor: pointer;
  }

