#sideNav{
  position: absolute;
  margin-top: 6rem;
  z-index: 3;
  background-color: #EEEEEE;
  width: 18rem;
  border-radius: 0rem 1rem 1rem 0rem;
}

/*background images transparent maken*/

.head{
  border-radius: 0rem 1rem 0rem 0rem;
  background-color: #DC5F00;
  display: flex;
  margin-bottom: 1rem;
  background-image: url(../media/close.png);
  background-repeat: no-repeat;
  background-size: 1.9rem 1.9rem;
  background-position: 15.5rem 0.5rem;
}

.head h1{
  font-size: 2rem;
  padding-top: 1rem;
  margin-left: 1rem;
}

.head img{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 5rem;
  height: 5rem;
}

.flexUl{
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-left: 1rem;
  column-gap: 1rem;
}

.flexUl li{
  display: flex;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flexUl li img{
  margin-right: 0.5rem;
  margin-top: 2.2rem;
  width: 2rem;
  height: 2rem;
}
