@import "constants";
@import "nav";
@import "general";
body {
    background-color: $background-color;
    main {
        #statistics {
            text-align: center;
            margin-right: 4rem;
            margin-left: 4rem;
            margin-top: 2rem;
            h1 {
                font-family: $header-font-family;
                color: $header-font-color;
                font-size: 2rem;
                padding: 1rem;
                background-color: $header-background-color;
                border-radius: $border-radius $border-radius 0 0;
            }
            #container_statistics {
                margin-bottom: 1.5rem;
                padding-top: 2rem;
                padding-bottom: 1.5rem;
                display: flex;
                background-color: $secondary-color;
                border-radius: 0 0 $border-radius $border-radius;
                aside {
                    width: 20%;
                    background-color: $primary-color;
                    margin-top: 3rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    padding-bottom: 1rem;
                    border-radius: $border-radius;
                    ul {
                        margin: 2rem;
                        display: flex;
                        flex-direction: column;
                        li {
                            color: $primary-font-color;
                            font-size: 1.5rem;
                        }
                        li:hover {
                            color: $secondary-font-color;
                        }
                        .selected {
                            font-weight: bold;
                        }
                        hr {
                            height: 0.15rem;
                            background-color: $primary-font-color;
                            border: none;
                        }
                    }
                }
                #container_charts {
                    width: 80%;
                    padding-right: 2rem;
                    #ul_period {
                        display: flex;
                        justify-content: space-between;
                        li {
                            font-size: 1.2rem;
                            text-decoration: underline;
                        }
                    }
                    .stats {
                        margin-top: 2rem;
                        height: 57vh;
                        background-color: $primary-color;
                        border-radius: $border-radius;
                        canvas {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    #types_chart {
                        padding-top: 1.5rem;
                        padding-bottom: 2rem;
                        #dome-choice {
                            width: 100%;
                            display: grid;
                            grid-auto-columns: 33%;
                            grid-template: "dome title search";
                            h3 {
                                text-align: left;
                                padding-left: 1rem;
                                grid-area: dome;
                                horiz-align: left;
                                font-size: 1.5rem;
                            }
                            h2 {
                                grid-area: title;
                                font-size: 2rem;
                            }
                            #searchbar {
                                box-sizing: border-box;
                                margin-left: 2rem;
                                grid-area: search;
                                line-height: 2rem;
                                height: 2rem;
                                background-color: $secondary-color;
                                border-radius: $border-radius;
                                display: flex;

                                input {
                                    font-size: 1.2rem;
                                    padding-left: 1rem;
                                    vertical-align: center;
                                }

                                button {
                                    color: $primary-font-color;
                                    margin-right: 0.5rem;
                                    background-color: $secondary-color;
                                    border-radius: $border-radius;

                                    .search {
                                        font-size: 2rem;
                                    }
                                }
                            }
                        }

                        #pie-chart {
                            margin-right: 23%;
                            margin-bottom: 2rem;
                            z-index: 2;
                            margin-top: 3rem;
                        }
                    }
                }
            }
        }
    }
}